# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast

# Docs
docs/
log.txt

# Dotenv file
.env

# Setup
processing/

# Everything in drool
drool/*

# Keep imgs/
!drool/imgs
!drool/imgs/**

!drool/abilities.csv
!drool/index.html
!drool/mon-analysis.js
!drool/mon-full.js
!drool/mon-moves.js
!drool/mon-stats.js
!drool/mons.csv
!drool/moves.csv
!drool/style.css
